[submodule "lib/c-amp"]
	path = lib/amp
	url = https://github.com/joelguittet/c-amp.git
[submodule "lib/c-discover"]
	path = lib/discover
	url = https://github.com/joelguittet/c-discover.git
[submodule "lib/c-axon"]
	path = lib/axon
	url = https://github.com/joelguittet/c-axon.git
